<html>
<head>
</head>

<body>

	<h1>Hello World!</h1>
	
	<div id="providers"> 
		<h2> Providers </h2>
	</div>

	<div id="endpoints"> 
		<h2 
		> Endpoints </h2>
	</div>

	<script>

		var providersRequest = new XMLHttpRequest();
	 	providersRequest.open('GET', 'http://localhost:3000/providers', true);
	 	providersRequest.send()
	 	providers.close()
		providersRequest.onreadystatechange = function() {
			if (providersRequest.readyState === XMLHttpRequest.DONE) {
		      if (providersRequest.status === 200) {
		      	var div = document.getElementById("providers");
		        div.innerHTML += (providersRequest.responseText);
		      } else {
		        alert('There was a problem with the request.');
		      }
		    }
		}

		var endpointsRequest = new XMLHttpRequest();
	 	endpointsRequest.open('GET', 'http://localhost:3000/endpoints', true);
	 	endpointsRequest.send();
	 	endpointsRequest.onreadystatechange = function() {
		 	if (endpointsRequest.readyState === XMLHttpRequest.DONE) {
		      if (endpointsRequest.status === 200) {
		      	var div = document.getElementById("endpoints");
		        div.innerHTML += (endpointsRequest.responseText);
		      } else {
		        alert('There was a problem with the request.');
		      }
		    }
	 	}


	</script>


</body>



</html>