#title-col{
	width: 10%;
}
#address-col {
	width: 15%;
	max-width: 70px;
}
#endpoint-col {
	width: 8%;
}
#boundZap-col {
	width: 10%;
}
#boundDots-col {
	width: 10%;
}
#price-col {
	width: 10%;
}
#curve-col {
	width: 10%;
}
/*#change-col {
	width: 10%;
}*/
.oracleAddress {
	max-width: 70px;
	word-wrap: break-word;
}

#dialog {
	position: fixed;
	top: 50%;
	transform: translate(0, -50%);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#dialog > .markdown-body {
	max-height: 80vh;
	max-width: 80vw;
	overflow-y: auto;
}

#dialog > .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	color: #333;
	text-decoration: none;
}