html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, main, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

html {
	overflow-y: scroll;
}

body {
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin: 0;
	vertical-align: baseline;
	padding: 0;
	box-sizing: border-box;
	background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
	font-weight: 400;
	color: #444444;
}

body * {
  box-sizing: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: inherit;
}

html.dialog-openned {
	overflow-y: hidden;
	padding-right: 11px;
}

.hidden, [hidden] {
	display: none !important;
}

header, .table-container, footer {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 90vw;
	padding-bottom: 3px;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

#omc-header-logo {
	height: 50px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a[href] {
	color: #31C4A5;
}

footer {
	background-color: #42E6A5;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	padding: 15px 30px;
	flex-direction: row;

}

.provider-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	position: relative;
}

/* Table header */

.table-container {
	position: relative;
}

.table-container .table-header-background {
	background: linear-gradient(0deg, #42E4A5 0%, #30C3A5 100%);
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	height: 40px;
	width: 100%;
	border-radius: 3px;
}

.table-title {
	background: transparent;
	height: 44px;
	color: #fff;
	vertical-align: middle;
	font-size: 13px;
	padding: 0 10px;
}

/* Table columns text aligment */

.provider-table tr > td,
.provider-table tr > th {
	text-align: left;
	font-weight: 600;
}
.provider-table tr > td:nth-child(3),
.provider-table tr > th:nth-child(3) {
	text-align: right;
}
.provider-table tr > td:nth-child(4),
.provider-table tr > th:nth-child(4) {
	text-align: right;
}
.provider-table tr > td:nth-child(5),
.provider-table tr > th:nth-child(5) {
	text-align: right;
}

.provider-row {
	position: relative;
	opacity: 1;
	transition: opacity .3s ease-out;
}
.provider-row > td {
	position: relative;
	vertical-align: middle;
	padding: 0 15px;
	height: 60px;
	transition: background-color .5s ease-out;
}
.provider-row:not(.visible):not(:last-child) > td::before {
	border-bottom: 1px solid #E4E4E4;
}
.provider-row > td > * {
	position: relative;
}
.provider-row > td > .fold-icon {
	position: absolute;
}
.provider-row > td:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.provider-row.highlight > td {
	background-color: rgba(66, 230, 165, 0.4);
}

.provider-row:hover {
	box-shadow: 0 2px 10px 0 rgba(48,48,48,0.2);
	background-color: #fff;
}
.provider-row:hover:not(.visible) > td:before {
	border-top: 1px solid #42E4A5;
	border-bottom: 1px solid #42E4A5;
}
.provider-row:hover:not(.visible) > td:first-child:before {
	border-left: 1px solid #42E4A5;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.provider-row:hover:not(.visible) > td:last-child:before {
	border-right: 1px solid #42E4A5;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.table-title:first-child,
.provider-row > td:first-child {
	padding-left: 30px;
}

.fold-icon {
	display: none;
	position: absolute;
	width: 30px;
	height: 100%;
	left: 0;
	top: 0;
	background-image: url(../img/fold-arrow.svg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition: transform .3s ease;
	transform: rotate(0);
}
.provider-row.first .fold-icon {
	display: block;
}
.provider-row.first.visible .fold-icon {
	transform: rotate(180deg);
}

.folded-endpoint {
	opacity: 0;
	display: none;
}
.folded-endpoint.visible {
	opacity: 1;
	display: table-row;
}
.folded-endpoint > td:first-child a {
	display: none;
}
.provider-row > td:first-child a {
	font-weight: 800;
	font-size: 16px;
}

.provider-row > td:first-child a span {
	font-weight: 400;
}

/* Unfolded active border */

.provider-row.visible.first > td::before {
	border-top: 2px solid #42E4A5;
}
.provider-row.visible.first > td:first-child::before {
	border-top-left-radius: 4px;
}
.provider-row.visible.first > td:last-child::before {
	border-top-right-radius: 4px;
}
.provider-row.visible.first > td:first-child::before,
.folded-endpoint.visible > td:first-child::before {
	border-left: 2px solid #42E4A5;
}
.provider-row.visible.first > td:last-child::before,
.folded-endpoint.visible > td:last-child::before {
	border-right: 2px solid #42E4A5;
}
.folded-endpoint.visible.last > td::before {
	border-bottom: 2px solid #42E4A5;
}
.folded-endpoint.visible.last > td:first-child::before {
	border-bottom-left-radius: 4px;
}
.folded-endpoint.visible.last > td:last-child::before {
	border-bottom-right-radius: 4px;
}

/* Unfolded inner borders */

.provider-row.visible.first {
	background-color: #f7f7f7;
}
/* .provider-row.visible.first > td::before {
	background-color: #f7f7f7;
} */
.provider-row.visible.first > td:first-child {
	border-top-left-radius: 4px;
}
.provider-row.visible.first > td:last-child {
	border-top-right-radius: 4px;
}
.provider-row.visible.first > td::before {
	border-bottom: 1px solid #E4E4E4;
}
.folded-endpoint.visible:not(.last) > td:not(:first-child)::before {
	border-bottom: 1px solid #E4E4E4;
}

/* Copy icon */

.copy-icon {
	display: block;
	background-image: url(../img/copy-hover.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 20px;
	width: 20px;
	margin: auto;
	overflow: hidden;
	position: relative;
	opacity: .5;
	transition: opacity .3s ease;
}
.provider-row:hover .copy-icon,
.provider-row.visible .copy-icon {
	opacity: 1;
}
.copy-icon textarea {
	position: absolute;
	left: 100%;
}
.copy-icon.copied {
	overflow: visible;
}
.copy-icon.copied::after {
	content: 'Copied';
	display: block;
	left: 50%;
	top: 0;
	position: absolute;
	transform: translateX(-50%) translateY(-120%);
	background-color: #38D1A5;
	color: #fff;
	font-size: 12px;
	padding: 3px 5px;
	border-radius: 2px;
}

/* Curve chart */

.curve-chart {
	position: relative;
	opacity: .5;
	transition: opacity .3s ease;
}
.provider-row:hover .curve-chart,
.provider-row.visible .curve-chart {
	opacity: 1;
}
.curve-chart > div {
	position: absolute;
	top: 2px;
	left: 17px;
	color: #666;
	font-size: 8px;
}
.curve-chart canvas {
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
}


/* Footer Links */

#powered-by-zap {
	width: 310px;
}

.social-links {
	display: flex;
	height: fit-content;
	width: fit-content;
	list-style-type: none;
	width: 350px;
}

.social-links li a {
	color: #3c3c3c;
	margin: 10px 5px;
	background: #fff;
	display: block;
	height: 30px;
	width: 30px;
	font-size: 16px;
	border-radius: 50%;
	line-height: 30px;
	text-align: center;
}
#powered-by-zap img {
	margin-top: 10px;
	display: inline-block;
}

#powered-by-zap h1 {
	display: inline-block;
	top: -15px;
    position: relative;
    color: #fff;
    margin-right: 10px;
}

.legal {
	font-size: 12px;
	color: #fff;
	width: 350px;
}

.legal a {
	color: #fff;
}
.legal a:hover, .legal a:active {
	text-decoration: underline;
}

/* Search box */

.search-container {
	padding: 5px 15px;
}
.search {
	position: relative;
	padding-right: 40px;
}
.search img {
	position: absolute;
	height: 30px;
	bottom: 0;
	right: 0;
}
.search input {
	box-shadow: none;
	line-height: 18px;
	min-width: 265px;
	line-height: 32px;
	padding: 0;
	border: 0 none;
	border-bottom: 3px solid #222;
	font-size: 16px;
	font-weight: 800;
	color: #3E3E3E;
	outline: none;
}
.search input::-webkit-input-placeholder {
	color: #3E3E3E;
	opacity: 1;
}
.search input:-moz-placeholder {
 color: #3E3E3E;
 opacity: 1;
}
.search input::-moz-placeholder {
 color: #3E3E3E;
 opacity: 1;
}
:-ms-input-placeholder {
 color: #3E3E3E;
}
.search input::-ms-input-placeholder {
 color: #3E3E3E;
}
.search input::placeholder {
 color: #3E3E3E;
}
.search .fa-search {
	position: absolute;
	left: 5px;
	top: 6px;
}

/* Network select */

.network {
	color: #3E3E3E;
	font-size: 16px;
	font-weight: 800;
}

.network select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0 none;
	box-shadow: none;
	background: transparent;
	border-bottom: 3px solid #31C4A5;
	color: #31C4A5;
	font-weight: 800;
	font-size: 22px;
	line-height: 32px;
	padding: 0;
	margin-left: 10px;
	outline: none;
	background-image: url(../img/arrow-select.svg);
	background-position: 100% 70%;
	background-repeat: no-repeat;
}
